get-pip.py
portable_python/
*.pt
build/
dist/
installer/*.exe
python-*.zip
python-*.7z
python-*.rar
examples/
portable_python-*.7z
portable_python-*.zip
portable_python-*.rar
*.egg-info
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
*.egg
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.env
.cache/
*.lnk
